<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="/categories">categories</a></li>
                <li><a href="/cart">my cart</a></li>
                <li><a href="/account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>

    <div class="container-label">
        <h4>{{data.itemName}}</h4>
    </div>

    <section class="item-container">
        <figure class="item-image">
            <a href="/item/{{data._id}}/item-detail"><img src="{{ data.imagePath }}" alt="clean hands sanitize"></a>
            <div class="break"></div>
        </figure>

        <figure  class="item-details">
            <h1>${{data.itemPrice}}</h1>
            <p>{{data.description}}</p>
        </figure>

        <div class="break"></div>

         <figure class="buy-btn">
            <button class="btn">Add to cart</button>
        </figure>
    </section>

    <footer>
        a website by don and john 
    </footer>
</body>